<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FoodWebsite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item">
                                <a class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Menus" ? "nav-link active" : "nav-link")" asp-controller="Menus" asp-action="Index">Menus</a>
                            </li>
                            <li class="nav-item">
                                <a class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Categories" ? "nav-link active" : "nav-link")" asp-controller="Categories" asp-action="Index">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Recipes" ? "nav-link active" : "nav-link")" asp-controller="Recipes" asp-action="Index">Recipes</a>
                            </li>
                            <li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Users" ? "nav-link active" : "nav-link")" asp-controller="Account" asp-action="Users">
                                        <i class="bi bi-people"></i>Users
                                    </a>
                                }
                            </li>
                            <li>
                                <partial name="_Identity.cshtml" />
                            </li>
                        </ul>

                    </div>
                </div>
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FoodWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
